{# templates/home/index.html.twig #}
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Page d'accueil</title>
    <link rel="stylesheet" href="{{ asset('css/home/styles.css') }}">
</head>
<body>
    <header>
        <h1>Bienvenue sur notre application Symfony</h1>
        <nav>
            <ul>
                <li><a href="/about">Mes Anciennes Commandes</a></li>
                <li><a href="/">Accueil</a></li>
                <li><a href="/contact">Contact</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <section>
            <h2>Bienvenue dans l'Application du Fauteuil Rouge!</h2>
            <p>Ceci est la page d'accueil de l'appli.</p>
        </section>
    </main>
    <footer>
        <p>&copy; Le Fauteuil Rouge</p>
    </footer>
</body>
</html>
